html {
  background-color: #E4E4E4;
}

nav {
  background-color: rgb(0, 10, 28); 
}

#sidenav-overlay { z-index: 1; }

.side-nav {
  width: 100px;
  height: 150px;
  top: 56px;
  background-color: rgb(0, 10, 28);
  overflow-y: hidden;
}

.side-nav a {
  color: white;
}

#headshot {
  display: block;
  margin: auto;
}

.App-header {
  color: white;
  height: 100vh;
  margin-top: -64px;
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  background: url(./img/galaxy.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.connect-icon {
  height: 3rem;
  width: auto;

}

.connect-methods p {
  margin-top: 0;
  padding-bottom: 0;
}

.modal .modal-content {
    padding-bottom: 0px;
}

.modal .modal-content a {color:  rgb(0, 10, 28);}

.footer {
  background-color: rgb(0, 10, 28) !important;
  color: white;
}

.launch-icon {
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

.launch-icon img {
  height: 2rem;
  width: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

.launch-icon p {
  margin-top: 0;
  padding-top: 0;
}